@layer components {
    .breadcrumb {
        @apply inline-block;

        & > ol {
            @apply border rounded flex flex-row gap-x-2;

            & > li {
                @apply relative;

                /* Magic arrow */
                &:after {
                    @apply absolute block right-0 top-3 border h-2 w-2 transform origin-center rotate-[135deg];
                    @apply translate-x-1.5;
                    content: '';
                    border-right: none;
                    border-bottom: none;
                }

                &:last-child {
                    &:after {
                        @apply hidden;
                    }
                }

                & > * {
                    @apply inline-block px-2 py-1;

                    &.current {
                        @apply text-gray-400;
                    }
                }
            }
        }
    }
}