@layer components {
    /**
     * This styles all the form input with `form-control`, except the checkbox and
     * radio, as these are not input boxes per-se.
     */
    .form-control:not([type="checkbox"], [type="radio"], [type="range"]) {
        /* Let's add a background to avoid transparency */
        @apply bg-white;

        /**
         * This removes any Safari style, like the default inner shadow of inputs.
         */
        appearance: none;

        /**
         * Colors pickers are usually a single block, so we will inline-block them.
         */
        &:is([type="color"]) {
            @apply p-0 inline-block;
        }

        /**
         * We add a common set of styles to all inputs set as "form-control".
         */
        @apply outline-none rounded transition-all ring-0 ring-gray-200 cursor-pointer shadow-none;

        /**
         * If is form for date or time, we will add some sensitive sizing for iOS.
         */
        &::-webkit-date-and-time-value {
            @apply min-h-[1.5em] cursor-pointer;
        }

        /*
         * Here we will prepare the calendar and clock icon background.
         */
        &:is([type="date"], [type="time"]) {
            /* This minimum width allows to have the same width across Webkit and Mozilla */
            @apply min-w-[12em];
            /* Here we prepare the background positioning of the icon */
            background-repeat: no-repeat;
            background-position: right 0.75rem center;
            background-size: 1rem 1rem;
        }

        &:is([type="date"]) {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z' /%3E%3C/svg%3E")
        }

        &:is([type="time"]) {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z' /%3E%3C/svg%3E")
        }

        /*
         * This hides (but doesn't disables) the calendar icon from the webkit on date/time inputs.
         */
        &::-webkit-calendar-picker-indicator {
            @apply cursor-pointer bg-none;
        }


        /**
         * If it's not disabled, we will apply styles on hover, focus and active states.
         */

        &:not(.disabled, :disabled) {
            &:hover {
                @apply ring-4;
            }

            &:focus, &:active {
                @apply ring-4 border-blue-400 ring-blue-200;
            }
        }

        /**
         * If it's disabled, we will disable the button and add some "disabled" style.
         */

        &.disabled, &:disabled {
            @apply pointer-events-none cursor-default bg-gray-200 text-gray-400;

            &::placeholder {
                @apply text-gray-300;
            }
        }

        &:not(select,[type="file"]):active {
            @apply bg-blue-100 border-blue-100;
        }

        &:after {
            @apply block clear-both;
            content: "";
        }

        &:focus {
            &::-webkit-slider-thumb {
                @apply shadow-sm;
            }

            &::-moz-range-thumb {
                @apply shadow-sm;
            }
        }
    }

    /**
     * Custom styling for select list that are not multiple.
     */
    select:not([multiple]).form-control {
        @apply bg-no-repeat bg-right pr-6;
        appearance: none;
        background-repeat: no-repeat;
        background-position: right 0.5rem center;
        background-size: 1rem 1rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7' /%3E%3C/svg%3E")
    }

    /**
     * This corrects the list arrow down
     */
    input[list].form-control::-webkit-search-decoration,
    input[list].form-control::-webkit-calendar-picker-indicator {
        @apply -mt-2;
    }

    /**
     * Finally, we will style the file upload button.
     */
    input[type="file"].form-control {
        @apply w-full p-0 min-h-[2em] truncate;

        /**
         * This styles the button.
         */
        &::file-selector-button {
            @apply pointer-events-none;
            @apply min-h-[2em] h-full pl-8 pr-2 py-1 m-0 mr-2;
            @apply border-0 rounded-l rounded-r-none;
            @apply bg-gray-100;
            border-inline-end-width: 1px;
            border-inline-end-style: solid;
            border-inline-end-color: theme('colors.gray.200');

            /* Here we can add a icon just for show */
            background-repeat: no-repeat;
            background-position: left 0.5rem center;
            background-size: 1rem 1rem;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12' /%3E%3C/svg%3E");
        }

        &:hover:not(:disabled):not([readonly])::file-selector-button {
            @apply bg-gray-200;
        }
    }

    /**
     * For the range input, we will need to use the prefix for each browser.
     * Since that's is cumbersome, we will use postcss-input-range.
     *
     * For some reason, styling the track using ::range-track is very unreliable.
     *
     * @see https://github.com/csstools/postcss-input-range
     */
    input[type="range"].form-control {
        appearance: none;

        @apply block w-full p-0 h-2 my-2;
        @apply border bg-gray-100 outline-none rounded-full cursor-pointer;

        &::range-thumb {
            appearance: none;
            @apply bg-blue-500 rounded-full w-4 h-4 ring-0 ring-blue-200 transition-all border-0;

            &:hover, &:focus {
                @apply ring-4;
            }

            &:active {
                @apply ring-2;
            }
        }

        &.disabled, &:disabled {
            @apply pointer-events-none;

            &::range-thumb {
                @apply bg-gray-400;
            }
        }
    }
}
