@layer base {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="search"],
    input[type="date"],
    input[type="datetime-local"],
    input[type="color"],
    input[type="month"],
    input[type="tel"],
    input[type="week"],
    input[type="url"],
    input[type="number"],
    select,
    textarea
    {
        @apply block border py-1 px-2 rounded;

        &[readonly] {
            @apply cursor-default;
        }

        &[disabled] {
            @apply bg-gray-100 text-gray-400;
        }

        &.form-inline {
            @apply inline-block;
        }
    }

    input[type="color"] {
        @apply p-0;
    }

    datalist {
        @apply hidden;
    }

    input[type="range"] {
        @apply block border bg-gray-100 w-full p-0 h-2 rounded-full my-2 cursor-pointer;
        appearance: none;

        &:active {
            @apply bg-blue-100 border-blue-100;
        }

        &:after {
            display: block;
            clear: both;
            content: "";
        }
    }

    input[type="file"] {
        @apply cursor-pointer;
    }
}

@layer components {
    select:not([multiple]).form-control {
        @apply bg-no-repeat bg-right pr-6;
        appearance: none;
        background-position: right 0.5rem center;
        background-size: 1rem 1rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7' /%3E%3C/svg%3E")
    }

    input[list]::-webkit-search-decoration,
    input[list]::-webkit-calendar-picker-indicator {
        @apply -mt-2;
    }
}